:root{
    --betterwheat: rgb(218, 186, 127);
    --darkerbetterwheat: rgb(197, 166, 107);
    --kartyahatter: rgb(100, 100, 100);
    --beallitashatter: rgb(63, 63, 63);
}

#InditoKontener {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    width: 80vh;
    max-width: 500px;
    margin: auto;

    .beallitasok {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        margin-bottom: 2rem;

        background-color: var(--beallitashatter);
        padding: 2rem;
        border-radius: 50px;
        font-size: 1.5rem;
        color: white;
    }

    label {
        font-weight: bold;
    }

    select {
        padding: 1rem;
        margin-bottom: 2rem;
        margin-top: 10px;
        background-color: rgb(59, 59, 59);
        border: 2px solid wheat;
        border-end-start-radius: 10px;
        border-spacing: 10px;
        font-size: 1.2rem;
        color: wheat;
        text-decoration: dashed;
        max-width: 90%;
    }

    input {
        margin-top: 10px;
        accent-color: var(--betterwheat);
    }

    button {
        background-color: wheat;
        border-radius: 50px 50px;
        padding: 1rem;
        width: 70%;
        font-size: 1.5rem;
        font-weight: bold;
        cursor: pointer;
    }

    button:nth-of-type(1) {
        background-color: var(--betterwheat);
        font-weight: bold;
        cursor: pointer;
    }
}

#EredmenyKontener, #TanulasKontener {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 2rem;

    h3 {
        color: white;
        text-align: center;
    }
}

#eredmenyGrid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;

    width: 80vh;
    max-width: 800px;
    margin: auto;
    margin-bottom: 50px;

    background-color: var(--beallitashatter);
    padding: 2rem;
    border-radius: 50px 50px;

    color: white;

    .helyes {
        color: rgb(0, 255, 0);
    }

    .rossz {
        color: rgb(255, 0, 0);
    }

    

    >div:nth-child(4n + 1) {
        /* font-weight: bold; */
        color: var(--betterwheat);
    }

    >div:nth-child(4n) {
        border-bottom: 2px solid black;
        padding-bottom: 4px;
    }

    .fejlec {
        color: var(--betterwheat);
    }

}
#tanulasGrid{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;

    width: 80vh;
    max-width: 500px;
    margin: auto;

    background-color: var(--beallitashatter);
    color: white;
    padding: 2rem;
    border-radius: 50px 50px;

    >div:nth-child(3n + 1) {
        color: var(--betterwheat);
    }

    >div:nth-child(3n) {
        border-bottom: 2px solid black;
        padding-bottom: 4px;
        color: rgb(142, 255, 142);
    }
}

#valaszKontener{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 50vh;
    position: absolute;
    top: 50vh;
}

.circle{


    width: 40px;
    height: 40px;
    background-color: rgb(207, 168, 96);
    margin: 0 5px;
    border-radius: 50%;
    text-align: center;
    font-size: 35px;
    text-align: center;
    color: white;
}

.answer span{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
}

.answer{
    background-color: var(--kartyahatter);
    color: var(--betterwheat);
    position: relative;
    width: 80vw;
    min-height: fit-content;
    height: 15%;
    border-radius: 50px 50px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
}

.answer:hover{
    filter:hue-rotate(70deg) invert(0);
    cursor: pointer;
}

.answer:active{
    filter:hue-rotate(0deg) invert(0);
}





#kerdesKontener{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 50vh;
    position: absolute;
    top: 0vh;
    overflow-y: auto;
}

h1{
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;

    margin-bottom: 0.3em;
}

hr{
    width: 90vw;
}

p{
    color: white;
    width: 80vw;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    text-align: justify;
}

.vissza{
    height: 5vh;
    width: 5vh;
    margin-top: 2vh;
    margin-left: 1vw;
    cursor: pointer;
}

#kepek {
    box-sizing: border-box;

    position: fixed;
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    z-index: 10;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    padding: 2rem;
    background-color: #000000be;

    img {
        min-height: 0;
        min-width: 0;
        max-width: 100%;
        max-height: 100%;

        border-radius: 0.5rem;
        box-shadow: 5px 5px black;
    }
}

#valtasKepekre {
    background-color: var(--darkerbetterwheat);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: medium;
    border-radius: 50px 50px;
    padding: 1rem;
    margin-bottom: 0.6rem;
    cursor: pointer;
}

@media screen and (min-width: 1200px) {
    #kepek {
        flex-direction: row;
    }

    #eredmenyGrid {
        grid-template-columns: repeat(4, 1fr);

        >div {
            border-bottom: 2px solid black;
        }
    }
}

@media (min-width: 1900px) {
    #valaszKontener{
        display: flex;
        flex-direction: row;
    }

    .answer span{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .answer{
        width: 15vw;
        height: 15vw;
    }

    .circle {
        position: absolute;
    }

    .circle:first-child{
        align-self: flex-start;
        margin: 10px;
    }

    .circle:last-child{
        align-self: flex-end;
        margin: 10px;
        right: 5px;
    }
}

@media (max-width: 600px){

    .answer span{
        font-size: 1rem;
    }
}

@media (max-width: 300px){

    .answer span{
        font-size: 0.6rem;
    }
}

@media (max-height: 400px) and (min-width: 1000px){
    #valaszKontener{
        display: flex;
        flex-direction: row;
        height: 30vh;
        top: 70vh;
    }

    .answer{
        width: 15vw;
        height: 10vh;
        border-radius: 50px 50px;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .answer span{
        font-size: 1rem;
    }

    .circle{
        width: 8vh;
        height: 8vh;
        background-color: wheat;
        margin: 0 5px;
        border-radius: 50%;
        text-align: center;
        font-size: 7vh;
        text-align: center;
        color: white;
    }

    #kerdesKontener{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 70vh;
        position: absolute;
        top: 0vh;
        overflow-y: auto;
    }
    
    h1{
        color: white;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        font-size: 30px;
        margin: 0;
    }
    
    hr{
        width: 90vw;
    }
    
    p{
        margin: 0;
        color: white;
        width: 80vw;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        font-size: 20px;
        text-align: justify;
    }
}





body{
    background-color: #292929;
    padding: 0;
    margin: 0;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--beallitashatter);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px 10px;
    cursor: pointer;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #DDDDDD;
  }
